# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.env

# VS Code
.vscode/

# System Files
.DS_Store
Thumbs.db

# Docker file
*.tar

# Logs
*.log

# Environment variables
.env
.env.local